[submodule "beneficiary-frontend"]
	path = beneficiary-frontend
	url = https://github.com/MUTUAL-DE-SERVICIOS-AL-POLICIA/beneficiary-frontend.git
[submodule "login-hub-frontend"]
	path = login-hub-frontend
	url = https://github.com/MUTUAL-DE-SERVICIOS-AL-POLICIA/login-hub-frontend.git
